header {
  background-color: #8888db;
  padding: 20px 0;

  nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    font-weight: 700;

    .nav-options {
      display: flex;
      justify-content: space-between;
    }

    li {
      list-style: none;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;

        p {
          margin-right: 40px;
        }

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}
