form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 30px;

    input {
      border: none;
      background: whitesmoke;
      border-radius: 2px;
      margin-top: 8px;
      padding: 4px 20px;
      text-align: center;
      font-size: 18px;
      width: 70%;
    }

    textarea {
      border: none;
      background: whitesmoke;
      border-radius: 2px;
      margin-top: 8px;
      padding: 4px 20px;
      text-align: center;
      font-size: 18px;
      width: 70%;
      margin-bottom: 20px;
    }

    .reason-input {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .description-input {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .radio-options {
    display: flex;
    align-items: center;
    margin-top: 6px;

    input {
      margin-right: 6px;
      margin-left: 6px;
    }
  }
}
